.container{
    background-color: #2A2141;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

@media(max-width:610px){
    .container{
        row-gap: 25px;
    }
    html{
        font-size: 60%;
    }
}