.image{
    width: 100%;
    max-width: 170px;
    border-radius: 10px;
}

.container{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

@media(max-width:610px){
    .container{
        flex-direction: column;
        row-gap: 30px;
    }
    .image{
        width: 100%;
        max-width: 240px;
    }
}